::ng-deep .mat-mdc-table {
  width: 100%;
  max-height: 90%;
  // max-height: 500px;
  // overflow: auto;
}

::ng-deep .mat-column-name {
  height: 100px;
}

::ng-deep .mat-mdc-cell {
  height: 20vh;
  display: flex;
  align-items: baseline;
}

.tareasCalendar {
  font-size: 0.7rem;
}

.customIconEventos {
  margin-right: 0.75rem !important;
}

.customIconCrearEvento {
  padding-right: 0px !important;
}
