<div class="modal-header d-flex row">
  <h4 *ngIf="!dataEvent" class="col-9 align-items-center">
    <i class="fa-regular fa-calendar-plus text-info mr-2"></i>
    Crear Evento
  </h4>
  <h4 *ngIf="dataEvent" class="col-9 align-items-center">
    <i class="fa-regular fa-calendar text-info mr-2"></i>
    Evento
  </h4>
  <div class="col-3 d-flex justify-content-end align-items-center">
    <button
      type="button"
      class="btn btn-danger"
      (click)="activeModal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
    <div class="d-flex row px-5">
        <ng-container *ngFor="let ctrlConfig of configForm">
          <ng-container [ngSwitch]="ctrlConfig.type">
              <ng-container *ngSwitchCase="'date'">
                  <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  [formControl]="form?.get(ctrlConfig.bind)"
                  name="dp"
                  ngbDatepicker
                  #d="ngbDatepicker"
                  placement="bottom"
                  [positionTarget]="buttonEl"
              />
              <button #buttonEl (click)="d.toggle()" type="button" 
                class="btn btn-primary" placement="top" ngbTooltip="Seleccionar fecha"
                [disabled]="form?.get(ctrlConfig.bind)?.disabled">
                  <i class="fa-regular fa-calendar"></i>
              </button>
              </ng-container>
              <ng-container *ngSwitchCase="'time'">
                  <ngb-timepicker [formControl]="form?.get(ctrlConfig.bind)"/>
      
              </ng-container>
              <ng-container *ngSwitchDefault>
                  <mat-form-field>
                    <mat-label>{{ ctrlConfig .label }}</mat-label>
                    <input type="{{ ctrlConfig.typeInput }}" matInput [formControl]="form?.get(ctrlConfig.bind)"
                           placeholder="{{ctrlConfig.placeholder}}">
                  </mat-form-field>
              </ng-container>
          </ng-container>
        </ng-container>
    </div>
</div>
<div class="modal-footer">
    <button *ngIf="!dataEvent" type="button" class="btn btn-success" (click)="guardar(form)" [disabled]="saveText !== ''">
        <i class="fa-regular fa-calendar-check mr-2"></i>
        <span *ngIf="saveText === ''">
            Guardar
        </span>
        <span *ngIf="saveText !== ''">
            {{ saveText }}
        </span>
    </button>
    <button *ngIf="dataEvent && form.disabled" type="button" class="btn btn-warning" (click)="form.enable()" [disabled]="saveText !== ''">
      <i class="fa-regular fa-calendar-days mr-2"></i>
      <span *ngIf="saveText === ''">
          Editar
      </span>
    </button>
    <button *ngIf="dataEvent && !form.disabled" type="button" class="btn btn-warning" (click)="update(form, dataEvent)" [disabled]="saveText !== ''">
      <i class="fa-solid fa-calendar mr-2"></i>
      <span *ngIf="saveText === ''">
          Actualizar
      </span>
      <span *ngIf="saveText !== ''">
        {{ saveText }}
    </span>
    </button>
</div>
