
<div class="p-5 banner">
  <h1>dochmart</h1>
  <p>Materiales de concreto</p> 
</div>
<div class="col-12 row d-flex justify-content-center mt-2">
  <div class="d-flex justify-content-center">
    <h3>{{ obtenerMes(diaMedio) }} {{ obtenerYear(diaMedio) }}</h3>
  </div>
  <div class="col-8 d-flex justify-content-between mb-3">
    <div class="btn-group" role="group">
        <input
            style="display: none;"
            class="form-control"
            placeholder="yyyy-mm-dd"
            [formControl]="control"
            name="dp"
            ngbDatepicker
            #d="ngbDatepicker"
            [placement]="placement"
            [positionTarget]="buttonEl"
        />
        <button #buttonEl (click)="d.toggle()" type="button" class="btn btn-primary" placement="top" ngbTooltip="Seleccionar fecha">
            <i class="fa-regular fa-calendar"></i>
        </button>
        <button type="button" class="btn btn-primary" placement="top" ngbTooltip="Mes Anterior"
        (click)="dm.setNewDate('minus'); router.navigate(['/'])">
            <i class="fa-solid fa-caret-left"></i>
        </button>
        <button type="button" class="btn btn-primary" placement="top" ngbTooltip="Mes Siguiente"
        (click)="dm.setNewDate('add'); router.navigate(['/'])">
            <i class="fa-solid fa-caret-right"></i>
        </button>
        <button type="button" class="btn btn-primary"
        (click)="dm.setNewDate(); router.navigate(['/'])">
            <span>Hoy</span>
        </button>
    </div>
    <button type="button" class="btn btn-success" (click)="navegarLista()">Lista hoy</button>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="mt-5 p-4 bg-dark text-white text-center">
  <p>Rodrigo Santiago González licencia MIT</p>
</div> -->